body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 800px;
}

h1 {
    font-size: 36px;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.rps {
    display: flex;
    gap: 20px;
}

.scoreboard {
    display: flex;
    font-size: 24px;
    gap: 20px;
}